.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/videos/about/journey_video.mp4
src/assets/journey_video_backup.mp4
src/assets/AI_Video_2025.mp4
src/assets/Career-Page.mp4
